.aboutContainer{
    height: 100vh;
    color: #292929;
}
.aboutWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.about > img{
    width: 80vw;
    height: 100vh;
}
.about > p {
    font-size: 20px;
    margin: 40px 0;
    text-align: center;
    line-height: 40px;
}

/* team info */
.teamInfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 250px;
}
.teamInfowrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamInfo{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 10px 0 rgba(40, 40, 40, 0.144);
    border: 1px solid #adc598;
    border-radius: 10px; 
    margin: 10px;
}

.teamInfo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    /* border: 4px solid #6e934d; */
}
.teamInfo > * {
    margin-bottom: 10px;
}

.teamInfo  p {
    font-weight: bold;
}

.teamInfoContainer h1{
    margin: 40px 0;
    /* color: #6e934d */
}

.title{
    display: flex;
    justify-content: space-between;
    width: 65vw;
}

/* footer */
#footer{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #6e934d;
    text-align: center;
    padding-top: 25px;
    color: #fff;
    font-size: 20px;
}
/* arrow box */
.arrowBox {
    display: none;
    position: absolute;
    width: fit-content;
    padding: 8px;
    top: 190px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #6e934d;
    color: #fff;
}



.arrowBox:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #6e934d;
    border-width: 10px;
    pointer-events: none;
    content: ' ';
  }
.arrowBox ul {
    margin-left: 10px;
    line-height: 25px;
    font-size: 13px;
}
.teamInfo:hover{
    top: -6px;
}

  .teamInfo:hover .arrowBox {
    display: block;

  }

