#AllWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#leftWrapper{
    width: 45%;
    margin-right: 10px;
}

#rightWrapper{
    width: 25%;
    margin-left: 10px;
}

#imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
}

#FundingImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.CommonMent{
    margin-top: 10px;
    font-weight: bold;
}

.MCommonMent{
    margin-top: 10px;
    font-weight: bold;
    color: red;
}

.CautionMent{
    color: red;
    font-size: 13px;
}

#MaterierBox{
    background-color: rgb(249,	250,	251);
    margin-top: 20px;
    border-radius: 5px;
}

#materiarhr{
    border:0.5px solid rgb(243, 244, 246);
  }
  
  .materiartext{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 12px;
  }
  
  #materiarblank{
    height: 10px;
  }
  

.radioGroup {
    display: flex;
    
}
.radio {
    display: block;
    appearance: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px 15px;
    border: 2px solid transparent;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    &:focus {
        outline: none;
    }
    &:checked {
        border-color: #6e934d;
        background-color: #fff;
        border-radius: 5px;
    }
}

.AmountBox{
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 0.8px solid rgb(236, 236, 238);
}

#AmountInput{
    border: 3px solid #6E934D;
    width: 235px;
    padding-left: 5px; 
    font-size: 18px;
    height: 30px;
    background-color: gainsboro;
}

#AmountInputBox{
    display: flex;
    align-items: center;
}

#AmountInput::-webkit-outer-spin-button,
#AmountInput::-webkit-inner-spin-button {
    margin: 0;
}

#imgInput::file-selector-button {
    width: 100px;
    height: 30px;
    background: #6E934D;
    border: 1px solid #6E934D;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

#NameInput{
    width: 100%;
    height: 60px;
    font-size: 16px;
    border: 1px solid #dde2e6;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    padding-top: 11px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 13px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif ;
    &:focus{
        border: 1px solid #6E934D;
        outline: none;
    }
}

#IntroduceBox{
    width: 100%;
    height: 380px;
    font-size: 15px;
    border: 1px solid #dde2e6;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    padding-top: 11px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 13px;
    font-family: Arial, Helvetica, sans-serif ;
    resize: none;
    &:focus{
        border: 1px solid #6E934D;
        outline: none;
    }
}

#DateInput{
    width: 200px;
    font-size: 15px;
    border: 3px solid #6E934D;
    padding: 5px;
    background-color: gainsboro;
}

#CreateButton{
    width: 100%;
    margin-top: 15px;
    border: 3px solid #6E934D;
    background-color: #6E934D;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 15px;
}

.errMsg{
    font-size: 15px;
    background-color: red;
    color: #fff;   
    margin-top: 2px;
}

#imgeButton{
    width: 100px;
}


.text2{
    font-size: 20px;
    font-weight: 600;
    color: #6e934d;
    margin-left: 2px;
    margin-right: 2px;
}

.text1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 10px;
}
  