#containerdown {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
}

#containerup{
  display: flex;
  width: 70%;
}

#fundingButton {
  background-color: #6e934d;
  border: none;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color: #FFF;
}

#fundingButton:hover {
  background-color: #6e934d91;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color:#fff;
}

#sort {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 40px;
  height: 30px;
}

#blank{
  width: 20%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 400px;
  position: sticky;
  top: 72px;
  margin-top: 30px;
}

#kategorie {
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6e934d;
}

.button {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.selectedButton {
  width: fit-content;
  border-bottom: 2px solid #6e934d;
  padding: 10px 0;
}

#funding {
  float: right;
  display: grid;
  width: 80%;
  grid-template-columns: 0fr 1fr 1fr 1fr;
}

@media (max-width: 1700px) {
  #funding {
    float: right;
    display: grid;
    width: 80%;
    grid-template-columns: 0fr 1fr 1fr;
  }
}

#list {
  width: 250px;
  height: 300px;
  margin-top: 20px;
  justify-self: end;
  word-break: break-all;
}

#listText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  margin-top: 10px;
}

.link {
  outline: none;
  text-decoration: none;
  color: black;
}

#title{
  display: block;
  font-size: 1em;
  font-weight: bold;
  width: 250px;
  white-space:pre-line;
  word-break: break-all;
}

#materiar{
  display: flex;
  align-items: center;
  margin-top: 3px;
  background-color: #6e934d;
  width: max-content;
  padding: 5px;
  padding-right: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #FFF;
  height: 10px;
  font-size: 13px;
}

#materiaricon{
  width: 11px;
  height: 11px;
  margin-right: 10px;
}

#sortcontainer{
  display: flex;
  flex-direction: column;
}

#sortblank{
  height: 50%;
}

#sortbox{
  display: flex;
  height: 50%;
}

#sorttext1{
  background:none;
  border: none;
  margin-right: 5px;
  font-size: 16px;
}

#sorticon{
  color: rgba(220, 220, 220, 0.826);
  font-size: 15px;
}

#sorttext2{
  background:none;
  border: none;
  margin-left: 5px;
  font-size: 16px;
}

.selectsorttext{
  background:none;
  border: none;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}