#TitleName {
  color: #6e934d;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

#AllWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#rightWrapper {
  width: 35%;
  margin-left: 10px;
}

#imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.radioGroup {
  display: flex;
  border: 3px solid #6e934d;
  justify-content: center;
}

.radio {
  display: block;
  appearance: none;
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 5px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  &:focus {
    outline: none;
  }
}

.checked {
  border-color: #6e934d;
  border-radius: 50%;
}

.AmountBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

#AmountInput::-webkit-outer-spin-button,
#AmountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#NameInput {
  width: 100%;
  height: 100px;
  font-size: 17px;
  padding-left: 5px;
  border: 3px solid #6e934d;
  margin-top: 5px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#IntroduceBox {
  width: 100%;
  height: 350px;
  font-size: 15px;
  padding-left: 5px;
  border: 3px solid #6e934d;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

#CreateButton {
  width: 100%;
  margin-top: 45px;
  border: 3px solid #6e934d;
  background-color: #6e934d;
  border-radius: 5px;
  color: #fff;
  padding: 16px;
  font-size: 25px;
  cursor: pointer;
}

#upcycler {
  display: flex;
  align-items: center;
  height: 70px;
  border: 3px solid #6e934d;
  padding-left: 10px;
  font-size: larger;
}

.h3 {
  margin-top: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.closeButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  float: right;
}

.modaltext {
  margin-top: 10px;
  margin-bottom: 5px;
}

.red {
  font-size: 12px;
  color: red;
}

.rate {
  font-size: 24px;
}

#fundingButton {
  background-color: #b5e0a0;
  border: none;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color: rgb(82, 82, 82);
  margin-top: 20px;
}

.link {
  outline: none;
  text-decoration: none;
  color: black;
}

#button {
  background-color: #b5e0a0;
  border: none;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color: rgb(82, 82, 82);
}

#button:hover {
  background-color: #99df76;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color: rgb(82, 82, 82);
}

#buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15vw;
}
