#containerh {
  display: flex;
  justify-content: center;
}

#fundingButton {
  background-color: #b5e0a0;
  border: none;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color: rgb(82, 82, 82);
}

#fundingButton:hover {
  background-color: #99df76;
  border: 1px solid #75d645;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  color: rgb(82, 82, 82);
}

#sort {
  display: flex;
  justify-content: space-between;
  width: calc(60% - 10px);
  padding-left: calc(10% + 10px);
  margin-top: 20px;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  height: 400px;
  position: sticky;
  top: 72px;
  margin-left: 15%;
  margin-top: 50px;
}

#kategorie {
  font-size: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #6e934d;
}

.button {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.selectedButton {
  background-color: #99df76;
  border: 1px solid #75d645;
  padding: 10px 0;
}

#funding {
  float: right;
  display: grid;
  padding-right: 15%;
  width: 73%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1700px) {
  #funding {
    float: right;
    display: grid;
    padding-right: 15%;
    width: 73%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#list {
  width: 250px;
  height: 300px;
  margin-left: 10px;
  margin-top: 50px;
  justify-self: end;
}

#listText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  margin-top: 10px;
  width: 100%;
}

.link {
  outline: none;
  text-decoration: none;
  color: black;
}
