#HeaderContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(242, 244, 246);
  align-items: center;
  background-color: white;
  z-index: 999;
}

#HeaderWrapper {
  display: flex;
  width: 70%;
}

#LogoWrapper {
  width: 8%;
}

.LinkWrapper {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#SearchWrapper {
  width: 74%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#SeachContent {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  border: 1px solid #6e934d;
  padding-left: 1%;
}

#SearchInput {
  width: 100%;
  border: none;
  font-size: 15px;
}

.ProfileWrapper {
  width: 4%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.LinkContent {
  font-size: 23px;
  font-weight: bold;
  color: #6e934d;
}

.LinkStyle {
  text-decoration: none;
}

.Dropdowncontainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  right: 0;
  margin-right: 20px;
  border: 0.3px solid #6e934d;
}

.MenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  font-size: 15px;
}

.MenuLink {
  text-decoration: none;
  color: #6e934d;
  font-weight: bold;
}
