#loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: #454545;
}
.loginWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  1px 1px 3px #95959540, -1px -1px 3px #95959540;
    padding: 80px 50px;
}

.loginWrapper > label{
    display: flex;
    flex-direction: column;
}
.loginWrapper  input{
    width: 240px;
    height: 30px;
    padding: 0 10px;
    border: solid 1px #c3c3c3;
    border-radius: 5px;
    margin: 10px 0;
}
.loginWrapper  input:focus { outline: none !important; border-color: #6E934D; }

/* login button */
.loginButton {
    height: 30px;
    width: 100%;
    letter-spacing: 3.5px;
    color: #ffffff;
    background: #6E934D;
    box-shadow: 3px 3px 5px rgba(107, 107, 107, 0.288);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
}

.loginButton:active {
    box-shadow:  1px 1px 3px rgba(107, 107, 107, 0.288);
}
.loginButton:hover{
    cursor: pointer;
}


/* signup button */

.loginWrapper >p{
    margin-top: 20px;
}

.signupButton{
    height: 30px;
    width: 100%;
    letter-spacing: 3.5px;
    color: #6E934D;
    background: #ffffff;
    box-shadow: 3px 3px 5px rgba(172, 172, 172, 0.288);
    border-radius: 5px;
    border: solid 1px #6E934D;
    text-transform: uppercase;
}

.signupButton:active {
    box-shadow:  1px 1px 3px rgba(107, 107, 107, 0.288);
}
.signupButton:hover{
    cursor: pointer;
}